<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" href="./static/favicon.ico">

	<link rel="stylesheet" href="./static/scripts/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="./static/scripts/bootstrap-toggle-master/css/bootstrap2-toggle.min.css">
	<script src="./static/scripts/three.min.js" charset="utf-8"></script>


	{% block eachContent %}{% endblock %}
</head>
	<body>
		{% block content %}{% endblock %}

		<script src="./static/scripts/jquery-3.6.0.min.js" charset="utf-8"></script>
		<!-- <script src="./static/scripts/popper.js" charset="utf-8"></script> -->
		<script src="./static/scripts/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
		<script src="./static/scripts/bootstrap-toggle-master/js/bootstrap2-toggle.min.js" charset="utf-8"></script>
		{% block myscript %}{% endblock %}
	</body>
</html>
