{% extends "layout.html" %}

{% block eachContent %}
{% endblock %}

{% block content %}
<main id="Main">
	<div>
		<div class="container-fluid">
			<div id="FormWrap">
				<form action="">
					<div>
						<h2>Canvas</h2>
					</div>
					<div>
						<video id="video" autoplay width="360" height="360"></video>
						<canvas id="Canvas" width="300" height="300"></canvas>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>
{% endblock %}

{% block myscript %}
<script src="./static/scripts/jsQR/jsQR.js" charset="utf-8"></script>
<script src="./static/pages/login.js" charset="utf-8"></script>
{% endblock %}
